---
pagination:
  data: site.languages
  size: 1
  alias: lang
permalink: "/{{ lang }}/datenschutz/index.html"
layout: base.njk
pageKey: datenschutz
slug: datenschutz
robots: "noindex, follow"
---
{% include "legal-content.njk" %}
