---
pagination:
  data: site.languages
  size: 1
  alias: lang
permalink: "/{{ lang }}/impressum/index.html"
layout: base.njk
pageKey: impressum
slug: impressum
robots: "noindex, follow"
---
{% include "legal-content.njk" %}
